{% extends "base.html" %}


{% block content %}
<h3>{{ poem.title }}</h3>

<div class="poem-wrapper">

    <div class='poem-container'>
        <h4>{{ poem.title }}</h4>
        <p class='poem-author'>{{ poem.author }}</p>
        <p class='poem-body'><pre>{{ poem.body }}</pre></p>
    </div>

    {% if request.user.is_authenticated and request.user == poem.author %}
        <p>
            <a href="{% url 'edit_poem' pk=poem.pk %}">edit your poem</a>
            <a href="{% url 'delete_poem' pk=poem.pk %}" style="color:red;">retire your poem</a>
        </p>
    {% endif %}

    <hr>

    <div class="comments-container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="submit your constructive feedback/adulation">
        </form>

        {% for comment in comments %}
            <hr>
            <div class='poem-comment-container'>
                <p class='timestamp'>Comment on ({{ comment.timestamp }}): <pre>{{ comment.body }}</pre></p>
            </div>
        {% endfor %}

    </div>

</div>
{% endblock %}