{% extends "base.html" %}


{% block content %}
<h3>All Poems!</h3>

<div class="poems-container">

    {% for poem in poems %}

    <div class='poem-container'>
            <h4>{{ poem.title }}</h4>
            <p class='poem-author'>    by {{ poem.author }}</p>
            <pre class='poem-body'>{{ poem.body }}</pre>
            <p>
                <a href="{% url 'poems_detail' pk=poem.pk %}">More information</a>
                <button onclick="sendFavorite(this, '{% url 'add_favorite' pk=poem.pk %}')">{{ poem.numfavorites }} favorites</a>
            </p> 
        </div>

    {% endfor %}

</div>
{% endblock %}