{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock %}
        <title>{% block title %}Write, Review, Connect with Other Poets!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <header class="menu">
            <a href="{% url 'poems_list' %}">all poems</a>
            <a href="{% url 'search_poems' %}">search poems</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'add_poem' %}">write a new poem</a>
                <a href="/accounts/logout/">logout</a>
            {% else %}
                <a href="/accounts/login/">login</a>
                <a href="/accounts/register/">create account</a>
            {% endif %}
        </header>

        <main>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}


            <div class="content">
            {% block content %}
            {% endblock %}
            </div>
        </main>

        <footer class="menu">
            <a href="{% url 'contact' %}">Contact Us</a>
        </footer>
    </body>
</html>