{% extends "base.html" %}

{% block content %}
<h1>Contact for {{ contact.name }}</h1>

<div class="flex flex-wrap">
  <div class="w-33 pa3">
    <h2>{{ contact.name }}</h2>

    <div class="flex">
      <div class="pr2"><i class="icofont-location-pin"></i></div>
      <div>
        {{ contact.address_1 }}<br />
        {% if contact.address_2 %}
          {{ contact.address_2 }}<br />
        {% endif %}
        {{ contact.city }}, {{ contact.state }} {{ contact.zip_code }}
      </div>
    </div>

    {% if contact.phone_number %}
    <div class="flex">
      <div class="pr2"><i class="icofont-phone"></i></div>
      <div>{{ contact.phone_number }}</div>
    </div>
    {% endif %}

    {% if contact.email %}
    <div class="flex">
      <div class="pr2"><i class="icofont-ui-email"></i></div>
      <div>{{ contact.email }}</div>
    </div>
    {% endif %}

    {% if contact.birthday %}
      <div class="flex">
        <div>{{ contact.birthday }}</div>
      </div>
    {% endif %}

    {% if note %}
      <div class="flex">
        <p>{{ note.body }}</p>
        <p><em>On</em>({{ note.timestamp }})</p>
      </div>
    {% endif %}

    <p>
    </p>
  </div>
</div>  
{% endblock %}
